.header {
  --flex-gap: 0;
  max-width: 68.75rem;
  height: 6.875rem;
  margin: 0 auto;
  align-items: center;
  border-bottom: 0.5px solid hsl(var(--clr-neutral-300));
  /* background-color: lightblue; */
}

.navMenu {
  margin-left: 2.813rem;
  height: 100%;
}

.navMenuLinks {
  --flex-gap: 2rem;
  list-style: none;
  height: 100%;
  align-items: center;
}

.navMenuLinks > li {
  height: 100%;
}

.navMenuLink {
  height: 100%;
  text-decoration: none;
  color: inherit;
  align-items: center;
  position: relative;
  transition: all 200ms ease;
}

.navMenuLink::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: hsl(var(--clr-orange-400));
  transform: scaleX(0);
  transition: all 200ms ease;
}

.navMenuLink:hover {
  color: hsl(var(--clr-neutral-700));
}

.navMenuLink:hover::after {
  /* border: 10px solid red; */
  transform: scaleX(1);
}

.navMenuRight {
  --flex-gap: 2.813rem;
  margin-left: auto;
  align-items: center;
}

.cart {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  transition: all 200ms ease;
}

.cart:hover {
  filter: brightness(0);
}

.avatar {
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 200ms ease;
}

.avatar:hover {
  outline: 2px solid hsl(var(--clr-orange-400));
}
